.game-page {

}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 3vh;
}

.game-lobby-id-card {
    display: flex;
    flex-direction: row;
}

.game-grid {

}

.game-card {

}